body{
  margin: 0;
  padding: 0;
  background-color: aliceblue;
}

::-webkit-scrollbar {
  display: none; /* Chrome Safari */
}

/*.el-scrollbar__wrap {*/
/*  overflow-x: hidden;*/
/*}*/

.d-flex {
  display: flex !important;
}

.mr-auto {
  margin-right: auto !important;
}

.ml-auto {
  margin-left: auto !important;
}

.tl-center {
  text-align: center;
}

.no-padding {
  padding: 0;
}
